body,
p {
  font-family: Calibri, sans-serif;
}

h1,
h2 {
  color: red;
  font-family: "Courier New", monospace;
}

a {
  color: red;
}

a:visited {
  color: green;
}

button:hover {
  background-color: red;
}

button:active {
  background-color: green;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-roman;
}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:hover {
  background-color: lightblue;
}
